# Enable multiuser plugin. This makes XRootD to write the files with the
# ownership of the user that authenticated to the server and not as the
# 'xrootd' user
if defined ?~XC_ENABLE_MULTIUSER && exec xrootd 
  ofs.osslib ++ libXrdMultiuser.so
else if defined ?~XC_ENABLE_MULTIUSER
  ofs.osslib libXrdMultiuser.so default
fi

if defined ?~XC_ENABLE_MULTIUSER
  # Enable the checksum wrapper
  ofs.ckslib * libXrdMultiuser.so

  xrootd.chksum max 2 md5 adler32 crc32

  # The checksum plugin that is included in the multiuser can also
  # checksum while it is writing a file.  To turn this on, uncomment the
  # following line:
  # multiuser.checksumonwrite on

  # Usernames that map to a UID or GID below these thresholds are treated as
  # system accounts and are denied access.  Both default to 500.  Lower them
  # if your site has legitimate users/groups with smaller IDs (for example,
  # groups imported from a Lustre file system):
  # multiuser.minuid 500
  # multiuser.mingid 500
fi
